body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    font-family: Roboto, helvetica, sans-serif;
}

.header {
    display: flex;
    background: #1F2937;
    padding: 16px 60px;
    justify-content: space-between;
}

.header span {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

.header-links {
    display: flex;
    gap: 16px;
}

.header-links a {
    font-size: 18px;
    color:#e5e7eb;
    text-decoration: none;
}

.panel-1 {
    display: flex;
    padding: 60px;
    background-color: #1f2937;
    justify-content: space-between;
}

.panel-1 .panel-1-text span {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}

.panel-1 .panel-1-text p {
    font-size: 18px;
    color: #e5e7eb;
}

.panel-1 .panel-1-text button {
    color: #e5e7eb;
    padding: 5px 25px;
    font-weight: bold;
    background-color: #3882f6;
    border-radius: 6px;
    border: transparent;
}

.panel-1-image {
    width: 450px;
    height: auto;
    background-color: grey;
    display: flex;
    flex-shrink: 0;
}

.panel-1-text {
    margin-right: 40px;
}