body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    font-family: Roboto, helvetica, sans-serif;
}

.header {
    display: flex;
    background: #1F2937;
    padding: 16px 120px;
    justify-content: space-between;
}

.header span {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

.header-links {
    display: flex;
    gap: 16px;
}

.header-links a {
    font-size: 18px;
    color:#e5e7eb;
    text-decoration: none;
}

.panel-1 {
    display: flex;
    padding: 120px;
    background-color: #1f2937;
    justify-content: space-between;
}

.panel-1 .panel-1-text span {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}

.panel-1 .panel-1-text p {
    font-size: 18px;
    color: #e5e7eb;
}

.panel-1 .panel-1-text button {
    color: #e5e7eb;
    padding: 5px 25px;
    font-weight: bold;
    background-color: #3882f6;
    border-radius: 6px;
    border: transparent;
}

.panel-1-image {
    width: 800px;
    height: auto;
    background-color: grey;
    display: flex;
}

.panel-1-text {
    margin-right: 40px;
    max-width: 500px;
}

.panel-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 16px 120px 60px 120px;
}

.panel-2 .panel-header {
    font-size: 36px;
    font-weight: bolder;
    padding-bottom: 40px;
    color: #1F2937;
}

.cards {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-grow: 1;
    gap: 120px;
}

.card .image {
    height: 150px;
    width: 150px;
    border: 5px solid #3882f6;
    border-radius: 16px;
}

.card p {
    text-align: center;
}